{% extends 'base.html.twig' %} {% block title %} Articles à votre disposition {% endblock %} {% block header %}

<h2>Voici le header</h2>

{% endblock %} {% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-5">BIENVENUE SUR MON TP SYMFONY  </h1>
        <p class="lead">Nous mettons à votre disposition une liste d'article</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-info btn-lg" href="{{ path('ads_index') }}" role="button">Voir les articles </a>
        </p>
    </div>

    <h2 class="h1 mt-3 mb-4"> </h2>

    
</div>
{% endblock %}